@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animate($name, $duration, $iteration, $direction) {
    -webkit-animation-duration: $duration;
    -moz-animation-duration: $duration;
    -o-animation-duration: $duration;
    animation-duration: $duration;
    -webkit-animation-iteration-count: $iteration;
    -moz-animation-iteration-count: $iteration;
    -o-animation-iteration-count: $iteration;
    animation-iteration-count: $iteration;
    -webkit-animation-name: $name;
    -moz-animation-name: $name;
    -o-animation-name: $name;
    animation-name: $name;
    -webkit-animation-direction: $direction;
    -moz-animation-direction: $direction;
    -o-animation-direction: $direction;
    animation-direction: $direction;
}

@font-face {
    src: url('Yekan.ttf');
    font-family: "Fetne";
    font-weight: 400;
}

body {
    font-family: "Fetne";
}

@media only screen and(max-width:600px) {
    body {
        padding-right: 2%;
        padding-left: 2%;
    }
}

.svg-icon {
    width: 1em;
    height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: rgb(145, 0, 158);
}

.svg-icon circle {
    stroke: rgb(145, 0, 158);
    stroke-width: 1;
}

.bg-violet {
    background-color: rgb(145, 0, 158);
}

.text-violet {
    color: rgb(145, 0, 158);
}